// Mixins in here


.btn(@btn-background-color, @btn-font-color){
    width: 100%;
	background-color: @btn-background-color;
    color: @btn-font-color;
	cursor: pointer;
	padding: 12px;
	margin-top: 10px;
	font-size: 1.8rem;
	border-radius: 15px;
    text-align: center;	
    
}
